// ----
// libsass (v2.0.0)
// ----

@mixin side-by-side {
  width: 49.5%;
  margin-bottom: 1em;
  &:only-of-type {
    width: 100%;
  }
  &:nth-of-type(even), &:only-of-type {
    margin-left: 1%;
  }
} 

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 18px / 1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #444;
  margin: 0 0.5em 1.5em;
  padding-top: 1em;
  max-width: 960px;
  @media screen and (min-width: 480px) {
    margin: 0 auto 1.5em;
  }
}

p, pre, fieldset, label, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  margin-bottom: 1em;
}

a {
  color: #178db1;
}

fieldset {
  overflow: hidden;
  zoom: 1;
}

label, textarea, input, pre {
  display: block;
  float: left;
}

label {
  width: 10%;
  min-width: 4em;
  padding-right: 1.5em;
  margin-bottom: 1em;
  clear: both;
}

input, textarea, button, pre {
  font-family: "Source Code Pro", "Menlo", fixed;
  font-size: 80%;
  line-height: 1.5;
  border: 1px solid #999;
  color: #555;
  padding: 0.25em 0.5em;
  border-radius: .2em;
}

textarea, input {
  width: 100%;
  margin-bottom: 1.5em;
  
  @media screen and (min-width: 480px) {
    @include side-by-side;
    
    min-width: 8em;
  }
}

input, textarea {
  transition: all 0.20s ease-in-out;
  outline: none;
  margin-top: 1px;

  &:focus {
    box-shadow: 0 0 3px transparentize(#AF51D3, 0.01); //rgba(81, 203, 238, 1);
    border: 1px solid transparentize(#AF51D3, 0.3); //rgba(81, 203, 238, 1);
  }
}

select {
  font-size: 100%;
  float: left;
  clear: left;
  margin: 0 1.5em 1.5em 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  background: #efefef;
  padding: 0 0.5em;
  line-height: 1.5;
  float: left;
}

.left, .right {
  @media screen and (min-width: 480px) {
    @include side-by-side;
    
    float: left;
  }
}

pre {
  margin-top: 1px;
}

pre, textarea {
  min-height: 20em;
  width: 100%;
  clear: both;
}

nav {
  text-align: center;
  margin-bottom: 1em;

  a {
    margin: 0 0.75em 0;
  }
}
